* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.urbanist {
    font-family: "Urbanist", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

:root {
    --theme-color: #0976db;
    --theme-color-b: #000000;
    --theme-color-w: #ffffff;
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: -0.1px;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

h3 {
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

h5 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 11px;
    font-family: "Poppins", sans-serif;
}

h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
}

/* Logo */
.logo img {
    width: 80%;
    height: auto;
}

/* Navigation Links */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--theme-color-b);
    font-size: 110%;
    font-weight: 500;
}

/* Contact Info */
.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.contact-info span {
    font-size: 120%;
}

.email img {
    width: 20%;
    height: auto;
}

.phone img {
    width: 20%;
    height: auto;
}

/* Call-to-Action Button */
.cta-button {
    padding: 15px 30px;
    background-color: var(--theme-color);
    color: var(--theme-color-w);
    border-radius: 0.8rem;
    text-decoration: none;
    font-size: 110%;
    font-weight: 300;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 30px;
    transition: 0.4s;
}

/* Transform hamburger to cross when active */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Styles */
@media (max-width: 991px) {

    /* Hide contact info and navigation links on mobile */
    .nav-links,
    .contact-info,
    .cta-button {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    /* Dropdown menu below the hamburger */
    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 20px;
        width: 250px;
        background-color: #0099ff;
        color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
        text-align: left;
    }

    .nav-links.active ul {
        flex-direction: column;
    }

    .nav-links.active ul li {
        margin: 10px 0;
    }

    .nav-links.active ul li a {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .nav-links ul {
        gap: 20px;
    }
}


.navbar_sec {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.navbar_contact {
    padding-bottom: 5%;
}



/* Hero section */
.home_hero_sec {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 6%;
    background: url('../img/home_hero_.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 600px; */
    padding-top: 25%;
}

.home_hero_sec h3 {
    font-size: 5rem;
    color: var(--theme-color-b);
    font-weight: 300;
}

.home_hero_sec h2 {
    font-size: 6rem;
    color: var(--theme-color-b);
    font-weight: 500;
}

.home_hero_sec p {
    width: 60%;
    font-size: 100%;
}

.aqua_button {
    width: max-content;
    padding: 8px 26px;
    background-color: var(--theme-color);
    color: var(--theme-color-w);
    border-radius: 0.8rem;
    text-decoration: none;
    font-size: 110%;
    font-weight: 300;
    border: none;
}

/* 
.aqua_button :hover {
    color: #000;
    background-color: var(--theme-color-w);
} */


@media (max-width: 1200px) {
    .home_hero_sec h3 {
        font-size: 3.5rem;
    }

    .home_hero_sec h2 {
        font-size: 4rem;
    }

    .home_hero_sec p {
        width: 70%;
        font-size: 100%;
    }

}

@media (max-width: 767px) {
    .home_hero_sec h3 {
        font-size: 3rem;
        padding-top: 8%;
    }

    .home_hero_sec h2 {
        font-size: 3.5rem;
    }

    .home_hero_sec p {
        width: 90%;
        font-size: 100%;
    }

}

@media (max-width: 500px) {
    .home_hero_sec h3 {
        font-size: 2rem;
        padding-top: 20%;
    }

    .home_hero_sec h2 {
        font-size: 2.5rem;
    }

    .home_hero_sec p {
        width: 90%;
        font-size: 80%;
    }

}



/* service_cards */

.service_cards_sec {
    display: flex;
    overflow-x: scroll;
    padding: 8%;
    /* Adds padding on both sides */
    scroll-snap-type: x mandatory;
    gap: 1rem;
    /* Space between cards */
    margin-left: 6%;
    margin-right: 6%;
}

.service-cards-carousel {
    display: flex;
    align-items: center;
}

.service_card {
    border: 1px solid #00000049;
    border-radius: 30px;
    width: max-content;
    padding: 1%;
    /* margin-right: 2%; */
    scroll-snap-align: start;
}

.secvice_card_img {
    width: 100%;
    padding-bottom: 2%;
}

.service_card_content {
    background-color: var(--theme-color);
    color: var(--theme-color-w);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    height: 55%;
}

.service_card_content h6 {
    font-size: 130%;
    font-weight: 600;
}

.service_card_content p {
    text-align: center;
}

.service_cards_sec::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.service_cards_sec::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.service_cards_sec::-webkit-scrollbar-track {
    background: transparent;
}

.service_cards_sec {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



/* home about */
.home_about_sec {
    padding: 8%;
}

.home_about_left {
    width: 100%;
    height: auto;
}

.home_about_left h3 {
    font-size: 300%;
    color: var(--theme-color-b);
    font-weight: 600;
    padding-bottom: 8%;
}

.home_about_left p {
    width: 90%;
    font-size: 95%;
    line-height: 150%;
    text-align: justify;
    color: var(--theme-color-b);
}

.progress-section {
    padding: 20px;
}

.progress-bar-container {
    margin-bottom: 20px;
}

.progress-bar-container span {
    font-size: 110%;
    padding-bottom: 2%;
}

.progress-bar-container span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border-radius: 5px;
    transition: width 2s ease;
}

.progress-line {
    width: 90%;
    height: 2px;
    /* Adjust the thickness of the line */
    background-color: #000;
    /* Color of the line */
    margin-top: 10px;
    /* Space between progress bar and line */
}



.home_about_left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_about_left img {
    width: 95%;
    height: auto;
}


@media (max-width: 1200px) {
    .home_about_left h3 {
        font-size: 260%;
    }

    .home_about_left p {
        width: 85%;
    }
}

@media (max-width: 991px) {

    /* .home_about_left h3 {
        font-size: 230%;
    }

    .home_about_left p {
        width: 75%;
    } */
    .home_about_left h3 {
        font-size: 300%;
        color: var(--theme-color-b);
        font-weight: 600;
        padding-bottom: 8%;
    }

    .home_about_left p {
        width: 100%;
        font-size: 95%;
        line-height: 150%;
        text-align: justify;
        color: var(--theme-color-b);
    }

    .home_about_left img {
        width: 75%;
        height: auto;
        padding-left: 8%;
    }
}

@media (max-width: 767px) {
    .home_about_left h3 {
        font-size: 220%;
        text-align: center;
    }

    .home_about_left p {
        width: 85%;
        padding-left: 8%;
    }
}



/* strong services */
.home_services {
    background: url(../img/SERVICESBACKGROUND.png);
    background-size: 100%;
    width: 100%;
    height: auto;
    padding: 8%;
}

.home_service_sec1 {
    background: url(../img/home_service_bluebg.png);
    background-repeat: no-repeat;
    background-size: 10%;
    width: 100%;
    height: auto;
    /* padding-left: 4%; */
}

.home_service_sec1_content {
    padding-left: 4% !important;
    padding-bottom: 5%;
}

.home_service_sec1_content h3 {

    font-size: 300%;
    color: var(--theme-color-w);
    font-weight: 700;
    padding-bottom: 8%;
    width: 50%;
}

.home_service_sec1_content p {
    font-size: 95%;
    color: var(--theme-color-w);
    width: 70%;
}

.home_service_sec1_btn button {
    background-color: #00000000;
    border: 1px solid #ffffff;
    border-radius: 31px;
    padding: 1% 5%;
    width: max-content;
    color: var(--theme-color-w);
    font-size: 120%;
}

.home_service_sec1_btn button:hover {
    background-color: #000000;
    border: 1px solid #000000;
    transition: 1s;
    border-radius: 31px;
    padding: 1% 5%;
    width: max-content;
    color: var(--theme-color-w);
}

@media (max-width: 1200px) {
    .home_service_sec1_content h3 {

        font-size: 260%;
        width: 90%;
    }
}

@media (max-width: 991px) {
    .home_service_sec1_content h3 {
        font-size: 300%;
        width: 100%;
    }


    .home_service_sec1_content p {
        font-size: 95%;
        padding-bottom: 4%;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .home_service_sec1_content h3 {
        font-size: 220%;
    }

    /* .home_service_sec1_content p {
        width: 85%;
    } */
}



.home_service_card_sec {
    width: 100%;
    height: auto;
}

.home_service_card_col {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.home_service_card1 {
    width: 100%;
    height: 420px;
    background: url(../img/home_service_card_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 9%;
    overflow: hidden;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}

.home_service_card1 img {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 6%;
}

.home_service_card1 h5 {
    font-size: 120%;
    color: var(--theme-color-w);
    width: 90%;
    padding-bottom: 4%;
}

.home_service_card1 p {
    width: 100%;
    font-size: 75%;
    line-height: 140%;
    color: var(--theme-color-w);
}

.home_service_card1 button {
    background-color: var(--theme-color);
    color: var(--theme-color-w);
    border: none;
    padding: 8px 19px;
    border-radius: 30px;
    top: 72%;
    position: absolute;
}

@media (max-width: 1426px) {
    .home_service_card1 {
        width: 100%;
        height: 400px;
        background-size: 110%;
        padding: 9%;
        padding-bottom: 25%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 6%;
    }

    .home_service_card1 h5 {
        font-size: 120%;
        width: 90%;
        padding-bottom: 4%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 75%;
        line-height: 130%;
    }

    .home_service_card1 button {
        padding: 7px 19px;
        border-radius: 30px;
        top: 72%;
    }
}

@media (max-width: 1246px) {
    .home_service_card1 {
        width: 100%;
        height: 400px;
        background-size: 140%;
        padding: 9%;
        padding-bottom: 25%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 8%;
        padding-bottom: 6%;
    }

    .home_service_card1 h5 {
        font-size: 120%;
        width: 90%;
        padding-bottom: 4%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 75%;
        line-height: 130%;
    }

    .home_service_card1 button {
        padding: 7px 19px;
        border-radius: 30px;
        top: 75%;
    }
}

@media (max-width: 1065px) {
    .home_service_card1 {
        width: 100%;
        height: 400px;
        background-size: 150%;
        padding: 9%;
        padding-bottom: 25%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 7%;
        padding-bottom: 6%;
    }

    .home_service_card1 h5 {
        font-size: 110%;
        width: 90%;
        padding-bottom: 1%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 75%;
        line-height: 125%;
    }

    .home_service_card1 button {
        padding: 7px 19px;
        border-radius: 30px;
    }
}

@media (max-width: 991px) {
    .home_service_card1 {
        width: 100%;
        height: 400px;
        background-size: 100%;
        padding: 9%;
        margin-top: 5%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 7%;
        padding-bottom: 6%;
    }

    .home_service_card1 h5 {
        font-size: 120%;
        width: 90%;
        padding-bottom: 1%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 85%;
        line-height: 145%;
    }

    .home_service_card1 button {
        top: 88%;
    }

}

@media (max-width: 792px) {
    .home_service_card1 button {
        top: 83%;
    }
}


@media (max-width: 767px) {

    .home_service_card_col {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .home_service_card1 {
        width: 70%;
        height: max-content;
        background-size: 100%;
        padding: 9%;
        margin-top: 5%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 7%;
        padding-bottom: 6%;
    }

    .home_service_card1 h5 {
        font-size: 120%;
        width: 90%;
        padding-bottom: 1%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 85%;
        line-height: 145%;
    }

    .home_service_card1 button {
        top: 85%;
    }

}

@media (max-width: 570px) {

    .home_service_card1 {
        width: 80%;
        height: 400x;
        background-size: 105%;
        padding: 9%;
        margin-top: 5%;
    }

    .home_service_card1 button {
        top: 87%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 6%;
    }

    .home_service_card1 h5 {
        font-size: 120%;
        width: 90%;
        padding-bottom: 1%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 85%;
        line-height: 135%;
    }

}

@media (max-width: 466px) {

    .home_service_card1 {
        width: 77%;
        height: max-content;
        background-size: 110%;
        padding: 9%;
        margin-top: 5%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 0%;
        padding-bottom: 1%;
    }
}


@media (max-width: 414px) {

    .home_service_card1 {
        width: 77%;
        height: 380px;
        background-size: 110%;
        padding: 9%;
        margin-top: 5%;
    }

    .home_service_card1 button {
        top: 68%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 0%;
        padding-bottom: 1%;
    }

    .home_service_card1 h5 {
        font-size: 110%;
        width: 90%;
        padding-bottom: 1%;
    }

    .home_service_card1 p {
        width: 100%;
        font-size: 70%;
        line-height: 135%;
    }
}


@media (max-width: 364px) {

    .home_service_card1 {
        width: 90%;
        height: 400px;
        background-size: 160%;
        padding: 9%;
        margin-top: 5%;
    }

    .home_service_card1 button {
        top: 70%;
    }

    .home_service_card1 img {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 1%;
    }

}




/* pool products */
.home_pool_products {
    width: 100%;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.home_pool_products_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.home_pool_products_content h3 {
    font-size: 320%;
    color: var(--theme-color-b);
    font-weight: 700;
    padding-bottom: 1%;
    width: 55%;
    text-align: center;
}

.home_pool_products_content p {
    font-size: 110%;
    color: var(--theme-color-b);
    font-weight: 400;
    padding-bottom: 1%;
    width: 60%;
    text-align: center;
}

.home_pool_products_img {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.home_pool_products_col {
    width: 100%;
    height: auto;
    padding: 1%;
}

.home_pool_products_img1 {
    width: 100%;
    height: auto;
    border: 1px solid #0000002a;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.185);
}

.home_pool_products_img img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}




@media (max-width: 1200px) {
    .home_pool_products_content h3 {
        font-size: 260%;
        width: 65%;
    }

    .home_pool_products_content p {
        width: 85%;
    }
}

@media (max-width: 991px) {

    .home_pool_products_content h3 {
        font-size: 300%;
        width: 95%;
    }

    .home_pool_products_content p {
        font-size: 95%;
        width: 90%;
    }
}

@media (max-width: 767px) {
    .home_pool_products_content h3 {
        font-size: 220%;
    }

}







/* pool solutions */
.vision_mission {
    width: 100%;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: url(../img/vision_mission_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.vision_mission_content {
    background: url(../img/vision_mission_img.png);
    background-repeat: no-repeat;

    padding-bottom: 5%;
}

.vision_mission_content h3 {
    color: var(--theme-color-w);
    font-weight: 700;
    font-size: 320%;
    width: 60%;
    padding-left: 13%;
    padding-top: 5%;
}

.our_vision {
    display: flex;
    flex-direction: column;
}

.our_vision_img {
    display: flex;
}

.our_vision_img h6 {
    color: var(--theme-color-w);
    font-size: 120%;
    font-weight: 600;
    padding-top: 2%;
}

.our_vision_content p {
    color: var(--theme-color-w);
    font-size: 90%;
    font-weight: 400;
    padding-top: 2%;
    padding-left: 10%;
    line-height: 120%;
    text-align: justify;
}

@media (max-width: 1200px) {
    .vision_mission_content h3 {
        font-size: 260%;
        width: 85%;
        padding-left: 18%;
        padding-top: 8%;
    }

    .vision_mission_content p {
        width: 85%;
    }
}

@media (max-width: 991px) {

    .vision_mission_content h3 {
        font-size: 260%;
        width: 95%;
        padding-left: 25%;
        padding-top: 10%;
    }

    .vision_mission_content p {
        font-size: 95%;
        width: 90%;
    }

    .our_vision_img {
        padding-top: 6%;
    }
}

@media (max-width: 767px) {
    .vision_mission_content h3 {
        font-size: 220%;
        width: 100%;
        padding-left: 29%;
        padding-top: 13%;
    }

}


@media (max-width: 767px) {
    .vision_mission_content h3 {
        text-shadow: -6px -2px 3px rgba(0, 0, 0, 0.76);
    }

}

@media (max-width: 600px) {
    .our_vision_content p {
        padding-left: 15%;
    }
}

@media (max-width: 460px) {
    .our_vision_content p {
        padding-left: 20%;
    }
}




/* home contact */
.home_contact_sec {
    width: 100%;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.home_contact_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_contact_content h3 {
    text-align: center;
    font-size: 320%;
    font-weight: 700;
    color: var(--theme-color-b);
    width: 50%;
}

.home_contact_content p {
    text-align: center;
    font-size: 110%;
    font-weight: 400;
    color: var(--theme-color-b);
    width: 50%;
}

.home_contact_form_sec1 {
    display: flex;
}

.home_contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_contact_form form {
    width: 70%;
}

.home_contact_form_sec1 input {
    width: 100%;
    margin-right: 2%;
    border-radius: 25px;
    padding: 18px 6px;
    border: 1px solid #00000065;
    outline: none;
}

.home_contact_form_sec1 input::placeholder {
    font-weight: 600;
    color: var(--theme-color-b);
    font-size: 120%;
}

.home_contact_form textarea {
    width: 98%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
    padding: 18px 6px;
    border: 1px solid #00000065;
    outline: none;
}

.home_contact_form textarea::placeholder {
    font-weight: 600;
    color: var(--theme-color-b);
    font-size: 120%;
}



@media (max-width: 1200px) {
    .home_contact_content h3 {
        font-size: 260%;
        width: 85%;
    }

    .home_contact_content p {
        width: 85%;
    }
}

@media (max-width: 991px) {

    .home_contact_content h3 {
        font-size: 260%;
        width: 95%;
        padding-top: 10%;
    }

    .home_contact_content p {
        font-size: 95%;
        width: 90%;
    }
}

@media (max-width: 767px) {
    .home_contact_content h3 {
        font-size: 220%;
        width: 100%;
        padding-top: 13%;
    }

    .home_contact_form_sec1 {
        display: flex;
        flex-direction: column;
    }

    .home_contact_form_sec1 input {
        margin-top: 2%;
        padding: 10px 6px;
    }
    
    .home_contact_form textarea {
        width: 98%;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 10px 6px;
    }

    .home_contact_form_sec1 input::placeholder {
        font-size: 90%;
    }

    .home_contact_form textarea::placeholder {
        font-size: 90%;
    }

}
